*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* Now 1rem = 10px*/
	height: 100%;
	min-height: 100%;
}

h1,
h2,
h3 {
	font-family: 'Quando', serif;
}

/* Handle Gists */

.gist-meta {
	display: none;
}
.gist .gist-file {
	margin-bottom: 0 !important;
}

.gist .gist-data,
.gist .gist-file {
	border: 0 !important;
}
/* MAIN CSS */

.main {
	display: table;
	width: 100%;
}
.top {
	display: table;
	width: 100%;
	margin: 0 auto;
	background: tomato;
	padding: 5rem;
	text-align: center;
	min-height: 60vh;
	background: #ff416c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ff4b2b,
		#ff416c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top_inner {
	display: table-cell;
	vertical-align: middle;
}

.top h1 {
	display: table;
	width: 100%;
	vertical-align: middle;
	font-size: 4rem;
	color: white;
}

.top h1 > span {
	display: table;
	width: 100%;
	margin: 0 auto 0.5rem;
}

.top p {
	display: table;
	width: 100%;
	vertical-align: middle;
	font-size: 1.6rem;
	color: white;
	line-height: 1.4;
}

.steps {
	margin: 2.5rem 0;
}
.step {
	display: table;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 2rem;
}

h2 {
	font-size: 2.5rem;
}

p {
	font-size: 1.8rem;
	max-width: 60rem;
	margin: 0 auto;
	line-height: 1.4;
}

.todo {
	display: table;
	width: 100%;
	/* background: #f3edec; */
	margin: 3rem auto 0;
	padding: 1rem;
	max-width: 75rem;
	box-shadow: 0 10px 50px rgba(191, 191, 191, 0.35);
}

code {
	font-size: 1.5rem;
	line-height: 1.45;
	text-align: center;
}

footer.mb {
	display: table;
	width: 100%;
	margin: 0 auto;
	padding: 5rem 5rem 5rem 0;
	background: #f3edec;
	box-shadow: 0 10px 50px rgba(191, 191, 191, 0.35);
}

.mb p {
	font-size: 1.5rem;
	max-width: 120rem;
	/* text-align: left; */
}
