*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* Now 1rem = 10px*/
	height: 100%;
	min-height: 100%;
}

h1,
h2,
h3 {
	font-family: 'Quando', serif;
}

/* Handle Gists */

.gist-meta {
	display: none;
}
.gist .gist-file {
	margin-bottom: 0 !important;
}

.gist .gist-data,
.gist .gist-file {
	border: 0 !important;
}

/* MAIN CSS */

.main {
	display: table;
	width: 100%;
}

h2 {
	font-size: 2.5rem;
}

p {
	font-size: 1.8rem;
	max-width: 60rem;
	margin: 0 auto;
	line-height: 1.4;
}
