.top {
	@include disp; // scss mixin for display properties

	background: tomato;
	padding: 5rem;
	text-align: center;
	min-height: 60vh;
	background: #ff416c;
	background: linear-gradient(to right, #ff4b2b, #ff416c);

	&_inner {
		display: table-cell;
		vertical-align: middle;
	}

	h1 {
		@include disp; // scss mixin for display
		vertical-align: middle;
		color: white;
		font-size: 4rem;

		.emoji {
			@include disp;
			margin: 0 auto 0.5rem;
		}
	}

	p {
		@include disp;
		vertical-align: middle;
		color: white;
		font-size: 1.6rem;
		line-height: 1.4;
	}
}
