/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
* Custom Website Fonts
* ------------------------------------------------------------------------- */

$mb_font: 'Quando', serif;

/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$c1: tomato;
$c2: white;
$c3: #f3edec;

/* ----------------------------------------------------------------------------
* Website Font Size
* ------------------------------------------------------------------------- */
// Font Size




